<template>
      <b-input
        autocomplete="off"
        type="text"
        placeholder="Hutwood Court, Bournemouth Rd, Chandler's Ford, Eastleigh SO53 3QB"
        id="address" name="address"
        :disabled="!addressCleared"
        v-model="displayAddress">
      </b-input>
</template>

<script>
export default {
  data() {
    return  {
      loqateControls: null,
      loqateFailed: false,
    };
  },
  props: ['addressCleared'],
  watch: {
    addressCleared: function () {
        if(this.loqateControls !== null)
        {
          this.loqateControls.load();
        }
    }
  },
  computed: {
    address: {
      get () {
        return this.$store.state.domestic.address
      },
      set (value) {
        this.$store.commit('domestic/updateAddress', value)
      },
    },
    addressId: {
      get () {
        return this.$store.state.domestic.addressId
      },
      set (value) {
        this.$store.commit('domestic/updateAddressId', value)
      },
    },
    postcode: {
      get () {
        return this.$store.state.domestic.postcode
      },
      set (value) {
        this.$store.commit('domestic/updatePostcode', value)
      },
    },
    displayAddress: {
      get() {
        return this.$store.state.domestic.displayAddress
      },
      set(value) {
        this.$store.commit('domestic/updateDisplayAddress', value)
      }
    }
  },
  methods: {
    initLoqate() {
      console.log('initiated loqate');
      let self = this;

      let fields = [
        {element: 'address', field: '{PostalCode}'},
      ];

      let options = {
        key: 'YX13-CW32-ZN61-DR41',
        search: {countries: 'GB'},
      };

      self.loqateControls = new pca.Address(fields, options);

      self.loqateControls.listen('load' , function() {
        self.loqateControls.setCountry('GB')
      });

      self.loqateControls.listen('prepopulate', function(address) {
        self.addressId = address.Id;
        self.postcode = address.PostalCode;

        self.address = {
          address1: address.Line1,
          address2: address.Line2,
          address3: address.Line3,
          address4: address.Line4,
          address5: address.Line5,
          address6: address.Line6,
          address7: address.Line7,
          address8: address.Line8,
          address9: address.Line9,
          town: address.City,
          county: address.Province,
          postCode: address.PostalCode,
        }

        self.displayAddress = address.Line1 +
          (address.Line2 ? ', ' + address.Line2 : '') +
          ', ' + address.City +
          ', ' + address.Province +
          ', ' + address.PostalCode

        self.addressSelected = true;

        self.$emit('address-selected')

        self.loqateControls.destroy();
      })

      self.loqateControls.listen('error', function (error) {
        self.loqateFailed = true
      })
    },

  },
  mount() {
    this.update()
  },
  beforeMount () {
    const script = document.createElement('script');
    script.onload = this.initLoqate;
    script.type = 'text/javascript';
    script.src = 'https://services.postcodeanywhere.co.uk/js/address-3.91.js';
    document.head.appendChild(script)
  }
}
</script>

<style scoped>
.address-lookup {
  min-width: 600px;
}
</style>
