<template>
  <div class="address-lookup">
    <b-input-group prepend="Address Search">
      <AddressLookup v-on:address-selected="addressSelected = true" :address-cleared="!addressSelected"/>
      <b-input-group-append>
        <b-button v-show="addressSelected" variant="danger" @click="clearAddress()">Clear</b-button>
        <b-button variant="primary" @click="validate()" :disabled="!addressSelected">Validate</b-button>
      </b-input-group-append>
    </b-input-group>
    <div v-if="validating">
      <b-alert show variant="info">Validating...</b-alert>
    </div>
    <b-form-group
      label="Select a fuel type"
    >
      <b-form-radio-group
        id="btn-radios-2"
        v-model="selectedFuel"
        :options="fuelOptions"
        button-variant="outline-primary"
        size="lg"
        name="radio-btn-outline"
        buttons class="container-fluid"
      ></b-form-radio-group>
    </b-form-group>

    <div v-if="validationErrors.length > 3">
      <div v-if="!showMoreErrors">
        <div v-for="(error, index) in validationErrors.slice(0,3)">
          <b-alert show :variant="error.type === 'H' ? 'danger' : 'warning'">
            {{error.reason}}
          </b-alert>
        </div>
      </div>

      <div v-else>
        <b-alert show variant="info">
          <div v-for="error in validationErrors">
            {{error.reason}}
          </div>
        </b-alert>
      </div>
      <a href="\#" @click="showMoreErrors = true" v-show="!showMoreErrors">Show More...</a>


    </div>
    <div v-else v-for="error in validationErrors">
      <b-alert show :variant="error.type === 'H' ? 'danger' : 'warning'">
        {{error.reason}}
      </b-alert>
    </div>

    <div v-if="esf && selectedFuel !== 'gas'">
      <a href="\#" @click="selectedFuel = 'gas'">Sign-up gas only</a>
    </div>
    <div v-else-if="!esf && selectedFuel === 'gas'">
      <b-alert show variant="warning">
        Cannot sign-up gas without customer also having elec. supply with us
      </b-alert>
    </div>

    <b-modal ref="existing-customer-modal" title="Existing Customer">
      {{existingCustomer.customerId}}
      {{existingCustomer.title}}
      {{existingCustomer.forename}}
      {{existingCustomer.surname}}
      {{existingCustomer.dateOfBirth}}
      {{existingCustomer.telNoMobile}}
      {{existingCustomer.email}}
      {{existingCustomer.topUpCardNo}}
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return  {
      addressTmp: null,
      loqateControls: null,
      loqateFailed: false,
      validationErrors: [],
      validationErrorCodes: [],
      selectedFuel: 'elecgas',
      fuelOptions: [
        {text: 'Dual Fuel', value: 'elecgas'},
        {text: 'Elec. Only', value: 'elec'},
        {text: 'Gas Only', value: 'gas'},
      ],
      existingCustomer: {},
      addressSelected: false,
      showMoreErrors: false,
      validating: false
    };
  },
  computed: {
    address: {
      get () {
        return this.$store.state.domestic.address
      },
      set (value) {
        this.$store.commit('domestic/updateAddress', value)
      },
    },
    addressId: {
      get () {
        return this.$store.state.domestic.addressId
      },
      set (value) {
        this.$store.commit('domestic/updateAddressId', value)
      },
    },
    postcode: {
      get () {
        return this.$store.state.domestic.postcode
      },
      set (value) {
        this.$store.commit('domestic/updatePostcode', value)
      },
    },
    esf: {
      get () {
        return this.$store.state.domestic.esf
      },
      set (value) {
        this.$store.commit('domestic/updateEsf', value)
      },
    },
    displayAddress: {
      get() {
        return this.$store.state.domestic.displayAddress
      },
      set(value) {
        this.$store.commit('domestic/updateDisplayAddress', value)
      }
    }
  },
  watch: {
    selectedFuel: function() {
      if(this.addressId !== null) {
        this.validate();
      }
    }
  },
  methods: {
    validate() {
      self = this;

      let data = {
        id: self.addressId,
        fuel: self.selectedFuel === 'gas' ? 'elecgas' : self.selectedFuel ,
        manualMpan:  'null',
        manualMprn: 'null',
        salesRef: 'telesales',
        agentCode: 'Adi'
      }

      self.validating = true;

      if (self.validationErrors !== []) {
        self.validationErrors = [];
      }

      self.$axios.post('/api/v1/sales/validate/address/switch', data).then((response) => {
        self.validating = false;
        let errorList = response.data.errorList;
        errorList.forEach(function (error) {
          self.validationErrors.push(error)
          self.validationErrorCodes.push(error.errorCode)
        });
        if (self.validationErrorCodes.includes(164) || self.validationErrorCodes.includes(194)) {
          self.existingCustomer = response.data.existing_details;
          self.esf = true
          self.$refs['existing-customer-modal'].show();
        }
      })
    },

    clearAddress() {
      this.address = null;
      this.addressId = null;
      this.postcode = null;
      this.displayAddress = null;
      this.addressSelected = false;
      this.esf = null
      this.validationErrors = [];
      this.validationErrorCodes = [];
      this.showMoreErrors = false;
      if(this.loqateControls !== null)
      {
        this.loqateControls.load();
      }
    },
  },
  mount() {
    this.update()
  },
}
</script>

<style scoped>
.address-lookup {
  min-width: 600px;
}
</style>
